#world {
    margin: 1em;
    border: 1px solid gray;
    padding: 1em;
}

.thing {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 1px;
    text-align: center;
    line-height: 2em;
}
